---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Home from '../components/Home.astro';
---

<Layout title="Glamour Fashion | Home">
	<Header />
	<main class="relative py-4 min-[562px]:py-8 flex flex-col gap-20 min-[562px]:gap-28 justify-center items-center [&>*]:px-4 [&>*]:lg:px-0
	[&>section]:w-full [&>section]:max-w-4xl [&>section]:m-auto [&>section]:flex [&>section]:flex-col [&>section]:justify-center [&>section]:items-start [&>section]:gap-8
	">
		
		<Home />
		
		<div class="fixed bottom-2 right-1 md:right-6 !p-0">
			<a href="#home" class="flex flex-col gap-2 justify-center items-center"><span class=" rotate-90 uppercase font-bold">Top</span>
				<span class="w-[2px] h-12 bg-black"></span>
			</a>
		</div>
	</main>
</Layout>

<style>
</style>
