---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Home from '../components/Home.astro';
import Show from '../components/Projects/Show.astro';
import Testimonails from '../components/Testimonails.astro';
import Subscribe from '../components/Subscribe.astro';
---

<Layout title="Glamour Fashion | Home">
	<Header />
	<main class="relative py-4 min-[562px]:py-8 flex flex-col gap-16 min-[562px]:gap-20 justify-center items-center [&>*]:px-4 [&>*]:lg:px-0
	[&>section]:w-full [&>section]:max-w-4xl [&>section]:m-auto
	">
		
		<Home />
		<Show />
		<Testimonails />
		<Subscribe />

		<div class="fixed bottom-2 right-1 md:right-6 !px-0 lg:!py-0 lg:backdrop-invert-0 !py-4 backdrop-invert-[0.6]">
			<a href="#home" class="flex flex-col gap-2 justify-center items-center"><span class=" rotate-90 uppercase font-bold">Top</span>
				<span class="w-[2px] h-12 bg-black"></span>
			</a>
		</div>
	</main>
</Layout>

<style>
</style>
