---

---


<nav class="hidden md:flex flex-row gap-6 justify-center items-center font-medium [&>A]:transition-colors [&>A]:duration-300 [&>A]:text-[#979797] hover:[&>A]:text-black">
    <a href="/">
        Home
    </a>
    <a href="/about">
        About
    </a>
    <a href="/blog">
        Blog
    </a>
    <a href="/qa">
        QA
    </a>
    <nav class="flex flex-row gap-2 justify-center items-center
    [&>*]:py-2.5 [&>*]:px-3.5 [&>*]:rounded-lg [&>*]:bg-[#e6e6e6] 
    [&_svg]:size-5 [&_svg]:stroke-[#8a8a8a] [&_svg]:transition-colors [&_svg]:duration-300 ">
        <button class="text-sm text-[#969696] transition-colors duration-300 hover:text-black">
            Search
        </button>
        <button id="desktopHearth" class="[&>svg]:hover:stroke-black">
            <svg id="desktopHearthSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"  stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
        </button>
        <a class="[&>svg]:hover:stroke-black" href="#" target="_blank" rel="noopener noreferrer">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 17h-11v-14h-2" /><path d="M6 5l14 1l-1 7h-13" /></svg>
        </a>
    </nav>
</nav>