---
import HeaderMobile from "./MobileHeader.astro";
import HeaderDesktop from "./DesktopHeader.astro";

---

<header class="w-full max-w-5xl m-auto py-4 px-4 lg:px-0 flex flex-row justify-between items-center border-b border-[#f3f3f3]">

    <div class="flex flex-row gap-4 justify-center items-center">
        <a class="" href="/">
            <svg class="size-8 transition-colors duration-300 hover:stroke-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"  stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 17c3.333 -3.333 5 -6 5 -8c0 -3 -1 -3 -2 -3s-2.032 1.085 -2 3c.034 2.048 1.658 4.877 2.5 6c1.5 2 2.5 2.5 3.5 1l2 -3c.333 2.667 1.333 4 3 4c.53 0 2.639 -2 3 -2c.517 0 1.517 .667 3 2" /></svg>
        </a>

        <h1 class="text-xl font-bold">GlamourFashion</h1>
    </div>
    
    <HeaderDesktop 
    client:media="(min-width: 768px)"
    />

    <HeaderMobile 
    client:media="(max-width: 768px)"
    />

</header>