---
---

<header class="w-full max-w-5xl m-auto py-4 px-4 lg:px-0 flex flex-row justify-between items-center border-b border-[#f3f3f3]">

    <div class="flex flex-row gap-4 justify-center items-center">
        <a class="" href="">
            <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"  stroke="#5e5e5e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 17c3.333 -3.333 5 -6 5 -8c0 -3 -1 -3 -2 -3s-2.032 1.085 -2 3c.034 2.048 1.658 4.877 2.5 6c1.5 2 2.5 2.5 3.5 1l2 -3c.333 2.667 1.333 4 3 4c.53 0 2.639 -2 3 -2c.517 0 1.517 .667 3 2" /></svg>
        </a>

        <h1 class="text-xl font-bold">GlamourFashion</h1>
    </div>
    
    <nav class="hidden md:flex flex-row gap-6 justify-center items-center font-medium [&>A]:transition-colors [&>A]:duration-300 [&>A]:text-[#747474] hover:[&>A]:text-black">
        <a class="" href="">
            About
        </a>
        <a href="">
            Properties
        </a>
        <a href="">
            Blog
        </a>
        <a href="">
            QA
        </a>
        <nav class="flex flex-row gap-2 justify-center items-center
		[&>*]:py-2.5 [&>*]:px-3.5 [&>*]:rounded-lg [&>*]:bg-[#e6e6e6] 
		[&_svg]:size-5 [&_svg]:stroke-[#8a8a8a] [&_svg]:transition-colors [&_svg]:duration-300 ">
			<a class="text-sm text-[#969696] transition-colors duration-300 hover:text-black" href="#" target="_blank" rel="noopener noreferrer">
				Search
			</a>
			<button id="desktopHearth" class="[&>svg]:hover:stroke-black">
				<svg id="desktopHearthSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"  stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
			</button>
			<a class="[&>svg]:hover:stroke-black" href="#" target="_blank" rel="noopener noreferrer">
				<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 17h-11v-14h-2" /><path d="M6 5l14 1l-1 7h-13" /></svg>
			</a>
		</nav>
    </nav>

    <nav class="relative flex md:hidden flex-col gap-6 justify-center items-center font-medium">

        <button id="menuMobileBtn">
            <p>Menu</p>
        </button>
        
        <div id="menuMobile" class="absolute z-20 top-16 right-0 hidden flex flex-col bg-white rounded-lg border border-gray-300 hover:[&>A]:bg-[#dddddd] [&>A]:px-6 [&>A]:py-4">
            <a class="rounded-t-lg" href="">
                About
            </a>
            <a href="">
                Properties
            </a>
            <a href="">
                Blog
            </a>
            <a href="">
                QA
            </a>
            <nav class="w-full flex flex-col justify-center items-center 
            [&>*]:px-6 [&>*]:py-4 [&>*]:w-full [&>*]:bg-[#e6e6e6] [&>*]:flex [&>*]:justify-center [&>*]:items-center [&>*]:border-t [&>*]:border-[#cacaca] hover:[&>*]:bg-[#d1d1d1]
            [&_svg]:size-5 [&_svg]:stroke-[#8a8a8a] [&_svg]:transition-colors [&_svg]:duration-300 ">
                <a class="text-sm text-[#969696] transition-colors duration-300 hover:text-black" href="#" target="_blank" rel="noopener noreferrer">
                    Search
                </a>
                <button id="mobileHearth" class="[&>svg]:hover:stroke-black">
                    <svg id="mobileHearthSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"  stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
                </button>
                <a class="[&>svg]:hover:stroke-black rounded-b-lg" href="#" target="_blank" rel="noopener noreferrer">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 17h-11v-14h-2" /><path d="M6 5l14 1l-1 7h-13" /></svg>
                </a>
            </nav>
        </div>
    </nav>
</header>

<script>
    const menuMobileBtn = document.getElementById('menuMobileBtn')
    const menu = document.querySelector('#menuMobile')

    menuMobileBtn?.addEventListener('click', () => {
        menu?.classList.toggle('hidden')
    })  

    const desktopHearth = document.getElementById('desktopHearth')
    const mobileHearth = document.getElementById('mobileHearth')

    desktopHearth?.addEventListener('click', () => {
        const desktopHearthSVG = document.getElementById("desktopHearthSVG")
        if(desktopHearthSVG){
            desktopHearthSVG?.classList.toggle("fill-black")
            desktopHearthSVG?.classList.toggle("!stroke-black")
        }
    })

</script>