---
---

<section class="">
    <article class="relative w-full p-4 min-[380px]:p-12 rounded-lg text-white flex flex-col gap-48 justify-center items-start">

        <div class="z-10"></div>

        <footer class="z-10 flex flex-col gap-8 justify-center items-start pr-32">
            <div class="flex flex-col gap-2">
                <h4 class="text-4xl md:text-5xl font-extrabold">The future of beauty</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, modi.</p>
            </div>
            
            <a class="px-4 py-2 rounded-lg bg-[#e22f98] transition-colors duration-300 hover:bg-[#a33776]" href="#" target="_blank" rel="noopener noreferrer">Shop now</a>
        </footer>

        <div class="w-full h-full z-0 image-1 bg-cover bg-center brightness-75 absolute top-0 left-0 right-0 bottom-0 rounded-lg"></div>

    </article>
</section>

<style>
    .image-1{
        background-image: url("../assets/images/homeImage.jpg");
    }
</style>