---

---

<section class="flex flex-col gap-4 justify-center items-start">

    <h3 class="text-2xl font-bold">Subscribe for exclusive offers</h3>

    <form action="" class="flex flex-row flex-wrap gap-4 [&>*]:border [&>*]:border-black [&>*]:rounded-lg [&>*]:px-4 [&>*]:py-2 [&>*]:placeholder:text-[#e22f98]">
        <input type="text" placeholder="Email Address">
        <input type="text" placeholder="Zip Code">
    </form>

    <button class="w-[215px] rounded-lg px-12 py-2.5 bg-[#e22f98] text-white font-semibold transition-colors duration-300 hover:bg-[#a33776]">Subscribe</button>
</section>