---

import photo6 from "../../../assets/images/people/women6.png"
import photo7 from "../../../assets/images/people/women7.png"
---

<div class="flex flex-col gap-8 justify-center items-center">

    <section class="grid grid-cols-2 min-[600px]:flex min-[600px]:flex-row min-[600px]:flex-wrap gap-x-4 gap-y-4 justify-start items-center
    [&>A]:flex [&>A]:flex-col [&>A]:gap-2 [&>A]:justify-center [&>A]:items-start [&>A]:min-[600px]:max-w-44
    [&_header]:w-full [&_img]:w-full [&_img]:h-52 [&_img]:rounded-lg [&_img]:object-cover [&_img]:brightness-90 [&_img]:transition-all [&_img]:duration-300 hover:[&_img]:brightness-75 
    ">

        <a href="#">
            <header>
                <img src={photo6?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Radiant Skin</h5>
                <p class="text-sm">Lorem, ipsum dolor. Lorem, ipsum. Lorem, ipsum.</p>
            </footer>
        </a>

        <a href="#">
            <header>
                <img src={photo7?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Radiant Skin</h5>
                <p class="text-sm">Lorem, ipsum dolor. Lorem, ipsum. Lorem, ipsum.</p>
            </footer>
        </a>

        <a href="#">
            <header>
                <img src={photo6?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Radiant Skin</h5>
                <p class="text-sm">Lorem, ipsum dolor. Lorem, ipsum. Lorem, ipsum.</p>
            </footer>
        </a>

        <a href="#">
            <header>
                <img src={photo6?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Radiant Skin</h5>
                <p class="text-sm">Lorem, ipsum dolor. Lorem, ipsum. Lorem, ipsum.</p>
            </footer>
        </a>

    </section>

</div>