---

import photo6 from "../../../assets/images/people/women6.png"
import photo7 from "../../../assets/images/people/women7.png"
---

<div class="flex flex-col gap-8 justify-center items-center">

    <section class="flex flex-row flex-wrap gap-x-4 gap-y-4 justify-center md:justify-start items-center
    [&>article]:flex [&>article]:flex-col [&>article]:gap-2 [&>article]:justify-center [&>article]:items-start [&>article]:max-w-44
    [&_header]:w-full [&_img]:w-full [&_img]:h-52 [&_img]:rounded-lg [&_img]:object-cover
    ">

        <article>
            <header>
                <img src={photo6?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Radiant Skin</h5>
                <p class="text-sm">Lorem, ipsum dolor. Lorem, ipsum. Lorem, ipsum.</p>
            </footer>
        </article>

        <article>
            <header>
                <img src={photo7?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Radiant Skin</h5>
                <p class="text-sm">Lorem, ipsum dolor. Lorem, ipsum. Lorem, ipsum.</p>
            </footer>
        </article>

        <article>
            <header>
                <img src={photo6?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Radiant Skin</h5>
                <p class="text-sm">Lorem, ipsum dolor. Lorem, ipsum. Lorem, ipsum.</p>
            </footer>
        </article>

        <article>
            <header>
                <img src={photo6?.src} alt="">
            </header>

            <footer class="">
                <h5 class="font-medium">Radiant Skin</h5>
                <p class="text-sm">Lorem, ipsum dolor. Lorem, ipsum. Lorem, ipsum.</p>
            </footer>
        </article>

    </section>

</div>